* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /* cores */
    --tt-heading: #0C3440;
    --tt-label: #00453A;

    --tt-input: #212529;
    --bg-input: #DCE2E9;
    --bd-input : rgba(73, 80, 87, 0.3);
    --ot-input: #02799D;

    --tt-placeholder: rgba(73, 80, 87, 0.5);

    --tt-button: white;
    --bg-button: hsl(194, 97%, 31%);
    --bg-button-hover: hsl(194, 97%, 21%);

    --bg-error: #F03E3E;
    --tt-error: white;  
}

body {
    font-family: 'Roboto', sans-serif;
    background: #040924;
}

body, input, button {
    font-size: 1.6rem;
    line-height: 2rem;
}

.container {
    height: 100vh;
    display: grid;
    place-content: center;
    max-width: 100vw;
}

.card {
    /* padding: 4.8rem 6.4rem 6.4rem; */
    padding-top: clamp(2.4rem, 12vw, 4.8rem);
    padding-inline: clamp(3.2rem, 15vw, 6.4rem);
    padding-bottom: clamp(3.2rem, 15vw, 6.4rem);

    background: white;
    max-width: 42.8rem;
    margin-inline: auto;
    
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
}

.title {
    font-size: 3.2rem;
    line-height: 4rem;
    color: var(--tt-heading);
}

form {
    width: clamp(18rem, 15rem + 12vw, 30rem);
}

form h1 {
    margin-bottom: 3.2rem;
}

form label {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--tt-label);
    display: block;
    margin-bottom: .8rem;
}

form input {
    width: 100%;
    border: 1px solid var(--bd-input);
    background-color: var(--bg-input);
    padding: 1.6rem;
    border-radius: .4rem;
}

form input:focus {
    outline: 2px solid var(--ot-input);
}

form input::placeholder {
    color: var(--tt-placeholder);
}

.input-wrapper + .input-wrapper { /* aplique no input-wrapper que tenha anterior a ele um input-wrapper (lê-se da direita para esquerda) */
    margin-top: 1.6rem;
}

button {
    font-weight: bold;

    margin-top: 3.2rem;
    padding: 1.6rem;
    width: 100%;

    border-radius: .4rem;
    border: none;
    background-color: var(--bg-button);
    color: var(--tt-button);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    cursor: pointer;   

    transition: background .3s;
}

button:hover {
    background: var(--bg-button-hover);
}

@media (max-width: 768px) {
    
}