*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #323239;
  font-weight: 500;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap:19rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

main button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

main {
  justify-content: center;
}

#timer {
  display: flex;
  align-content: center;
  justify-content: center;

  font-size: clamp(6rem, 8rem + 7vw, 14rem);
}

#controls {
  display: flex;
  gap: 3.2rem;
}

aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3.2rem;
}

.selected path:nth-child(1) {
  fill: #02799D;
}

.selected path:nth-child(2) {
  fill: white;
}


.hide {
  display: none;
}